html {
  font-size: 80%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(
              208.12deg, 
            #b9bdf8 6.33%, 
            #9de7f8 91.24%
    );
}

.searchbar {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}

button {
  outline: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}
